<div class="container">
  <button mat-icon-button [routerLink]="[ '/' ]"> <!-- a routerlinket rarakjuk a rootra -->
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1>
    Egy kicsit rólam...
  </h1>
  <div class="center">
    <img src="/assets/images/1.jpg" alt="1" width="350" height="600">
    <img src="/assets/images/2.jpg" alt="2" width="360" height="600">
  </div>
  <p class="describe">
    Szia! Téged is érdekel a pénzügy, a fenntarthatóság, az önismeret, és az ezekhez hasonló témák? Akkor itt a helyed! Az én
    nevem Elena, és egy szegedi lány vagyok, aki programozást tanul. Emellett érdekelnek a felsorolt témák a
    szabadidőmben.
  </p>
  <ul class="my-accounts">
    <p> Itt is megtalálsz: </p>
    <li><a href="https://www.facebook.com/elena.jakus/">Facebook profilom</a></li>
    <li><a href="https://www.instagram.com/elena_j1234/">Személyes Instagram profilom</a></li>
    <li><a href="https://www.instagram.com/my_favourites.e/">My_favourites.E Instagram profil</a></li>
  </ul>
</div>
