<app-nav></app-nav>
<div class="container">
  <button mat-icon-button [routerLink]="[ '/home/blogpages/blogpage-selector' ]"> <!-- a routerlinket rarakjuk a rootra -->
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1>
    Kedvenc könyveim
  </h1>
  <p class="describe">
    A teljesség igénye nélkül felsorolom és megemlítem néhány kedvenc könyvemet, amelyek hatást gyakoroltak rám. Ezek
    közül kiemelném a következőket:
    <mat-list>
      <mat-list-item>Gary Chapman: Az öt szeretetnyelv</mat-list-item>
      <mat-list-item>Dale Carnegie: Hogyan szerezzünk barátokat és befolyásoljuk az embereket</mat-list-item>
      <mat-list-item>Dale Carnegie: Hogyan fejezzük be az aggódást és kezdjünk el élni</mat-list-item>
      <mat-list-item>J. K. Rowling: Harry Potter-sorozat</mat-list-item>
    </mat-list>
  </p>
  <div class="center">
    <img src="/assets/images/hp.jpg" alt="harry-potter" width="600" height="400">
  </div>
  <h2>Gary Chapman: Az öt szeretnyelv</h2>
  <div class="center">
    <img src="/assets/images/5-szeretet-nyelv.png" alt="5-szeretet-nyelv" width="600" height="400">
  </div>
  <p class="describe">
    Nagyon sajnálom, hogy ezt a könyvet már csak felnőtt koromban ismertem meg.
    És azt is, hogy az emberek többsége nem ismeri, mert szerintem hiánypótló.
    Ahhoz, hogy megértsük mások viselkedését, először a magunkéval kellene tisztában lennünk.
    A könyv bemutatja, hogy ha ismerjük saját és mások szeretetnyelvét,
    akkor tudni fogjuk, hogy mire van szükségünk magunknak és másoknak is.
    Ha ismerjük valaki szeretetnyelvét, akkor azon keresztül könnyebben tudunk neki örömet szerezni.
    Ami azért fontos, mert így nem fognak megromlani kapcsolataink, hiszen mindenki megkapja, amire valójában vágyik.
  </p>

</div>
