h1 {
  text-align: center;
  font-size: 40pt;
  padding: 20px 40px 30px 40px;
}

h2 {
  text-align: left;
  font-size: 20pt;
  padding: 5px 40px 5px 40px;
  font-weight: normal;
}

h3 {
  text-align: left;
  font-size: 16pt;
  padding: 5px 40px 5px 40px;
  font-weight: normal;
}

.describe {
  text-align: left;
  padding:  5px 40px 10px 40px;
  font-size: 16px;
}

.describe-list {
  text-align: left;
  padding:  5px 40px 30px 40px;
  font-size: 16px;
}


.center {
  display: block;
  margin: 10px 300px 5px 300px;
  padding: 40px;
}

.container {
  padding-bottom: 100px;
}
