<div class="container">
  <button mat-icon-button [routerLink]="[ '/home/blogpage-selector' ]"> <!-- a routerlinket rarakjuk a rootra -->
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1>
    Fenntarthatóság a mindennapokban
  </h1>
  <p class="describe">
    Korunk egyik legégetőbb problémája a sok szemét, amivel környezetünket szennyezzük.
    Ez a bolygónk és saját jövőnk szempontjából is igen nagy probléma.
    Ezért fontos számomra, hogy egy úgymond fenntarthatóbb életmódot folytassak, amiben a számomra felesleges tárgyaknak
    nincs helyük.
  </p>
  <div class="center">
    <img src="/assets/images/fenntarthatosag.jpg" alt="fenntarthatosag" width="600" height="400">
  </div>
  <h2>Íme néhány tippem a fenntarthatóbb életmód eléréséhez:</h2>
  <p class="describe-list">
    <mat-list>
      <mat-list-item>selejtezés (dupla, vagy felesleges dolgok)</mat-list-item>
      <mat-list-item>a minőség fontosabb, mint a mennyiség</mat-list-item>
      <mat-list-item>várj 1-2 hetet, mielőtt megveszel valamit</mat-list-item>
      <mat-list-item>ne vedd meg, ha több is van belőle</mat-list-item>
      <mat-list-item>folyamatos gardróbrendszerezés (például havonta)</mat-list-item>
      <mat-list-item>tarts rendet magad körül</mat-list-item>
      <mat-list-item>ne vedd meg, ha több is van belőle</mat-list-item>
      <mat-list-item>1-2 hónapra tervezz előre</mat-list-item>
      <mat-list-item>illóolajokkal illatosítsd a szobád</mat-list-item>
      <mat-list-item>írj hálanaplót</mat-list-item>
    </mat-list>
  </p>

  <div class="center">
    <img src="/assets/images/rend.jpg" alt="rend" width="600" height="400">
  </div>

  <h2>Egy-két pont kicsit bővebben kifejtve:</h2>
  <h3>Selejtezés: </h3>
  <p class="describe">
    Fontos, hogy időnként kiselejtezzük a dolgainkat. Ezt különböző módokon tehetjük meg.
    A szelektálás után viszont az a legkörnyezettudatosabb, ha minden, ami még használható eladjuk, vagy eladományozzuk.
    Csak azokat a tárgyakat dobjuk ki, amiket már tényleg senki sem tudna hasznosítani, vagy lejárt a szavatosságuk.

    <mat-list>

      <mat-list-item>lejárt sminkek, ételek</mat-list-item>
      <mat-list-item>régi elektronikai cikkek</mat-list-item>
      <mat-list-item>ruhák, táskák, cipők, amiket nem használok</mat-list-item>
      <mat-list-item>törött és elromlott dolgok</mat-list-item>
      <mat-list-item>ősrégi dokumentunok</mat-list-item>
      <mat-list-item>könyvek, amiket már nem olvasol</mat-list-item>
      <mat-list-item>ágyneműk, törölközők</mat-list-item>
      <mat-list-item>tollak(amelyek nem fognak)</mat-list-item>
      <mat-list-item>email hírlevél feliratkozások</mat-list-item>
      <mat-list-item>ajándékok, amiket nem használsz</mat-list-item>
    </mat-list>
  </p>

  <p class="describe">
    Általam ajánlott cikkek a fenntarthatóság témaköréhez:
    <br>
    <br>
    <a href="https://xforest.hu/minimalizmus/">Így lehetsz gazdagabb „szegényebben”: a minimalizmus aranyszabályai</a>
    <br>
    <br>
    <a href="https://szendreiadam.hu/onmegvalositas/minimalizmus/">Minimalizmus: egy trend, ami boldogabbá és gazdagabbá
      is tehet</a>
  </p>

  <p class="describe">
    Általam ajánlott videó a fenntarthatóság témaköréhez:
    <br>
    <br>
    <iframe src="https://www.youtube.com/embed/WUxjbQa0iFY" frameborder="0" allowfullscreen></iframe>
  </p>
</div>
