h4 {
  font-size: 24px;
}

.result {
  text-align: center;
  padding-bottom: 10px;
}

.btn-start {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

input[type="radio"].quiz-radio {
  margin-right: 6px;
}

.btn:focus, .btn:active, .btn:active:focus {
  outline: none;
}

.quiz-row {
  margin: 10px 400px 5px 400px;
  font-size: 20px;
}

.option {
  padding: 5px;
}

.btn-success,
.btn-primary,
.btn-start {
  font-size: 20px;
}

.center {
  display: block;
  padding-top: 30px;
  padding-bottom: 5px;
}

.container {
  padding-bottom: 100px;
}
