<app-nav></app-nav>
<div class="container">
  <button mat-icon-button [routerLink]="[ '/home/blogpages/blogpage-selector' ]"> <!-- a routerlinket rarakjuk a rootra -->
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1>
    Önismeret fejlesztése (érzelmi intelligencia)
  </h1>
  <p class="describe">
    Az önismeret témaköre már elég régóta fontos szerepet játszik az életemben,
    mert ha magamat jól megismerem, akkor hiszem, hogy másokkal is könnyebben tudok
    kommunikálni, azonosulni. Az önismeret fejlesztésének következő módjait alkalmazom és ajánlom:
    önfejlesztő könyvek, kurzusok, tréningek, gyakorlatok.
  </p>
  <div class="center">
    <img src="/assets/images/onismeret.jpg" alt="onismeret" width="600" height="400">
  </div>
  <h2>Önfejlesztő könyvek, amiket ajánlok:</h2>
  <p class="describe-list">
    <mat-list>
      <mat-list-item>Dale Carnegie: Hogyan szerezzünk barátokat és befolyásoljuk az embereket</mat-list-item>
      <mat-list-item>várj 1-2 hetet, mielőtt megveszel valamit</mat-list-item>
      <mat-list-item>Dale Carnegie: Hogyan fejezzük be az aggódást és kezdjünk el élni</mat-list-item>
      <mat-list-item>Charlie Jones: Az élet fantasztikus!</mat-list-item>
      <mat-list-item>Mark Manson: A leszarom rafinált művészete</mat-list-item>
      <mat-list-item>Brian Tracy: Teremtsd újra az életed!: - Keress új utakat a sikerhez és a boldogsághoz
      </mat-list-item>
      <mat-list-item>Robert B. Cialdini: A hatás</mat-list-item>
      <mat-list-item>Brendon Buckhard: Szokások, melyekkel sikeres lehetsz</mat-list-item>
      <mat-list-item>Szikszay Csaba: Tudatos életmód feketén-fehéren</mat-list-item>
    </mat-list>
  </p>
  <div class="center">
    <img src="/assets/images/produktivitas.png" alt="produktivitas" width="600" height="500">
  </div>
  <h2>Produktivitás növeléséhez tippek</h2>
  <p class="describe">
    Kissé más vizekre evezve, de még ide kapcsolódóan a produktivitás növeléséhez hozok néhány gondolatot.
    <mat-list>
      <mat-list-item>Ha nehezedre esik valamihez hozzákezdeni,
        akkor alkalmazd Mel Robbins 5 másodperces szabályát.
        Minden ilyen teendő előtt számolj vissza 5 4 3 2 1-ig és GO!
      </mat-list-item>
      <mat-list-item>80/20 szabály:
        Írj fel minden nap csak 3 dolgot!!
        Az időnk 20%-ában csinálunk csak olyan dolgot, ami az eredmény 80%-áért felelős.
      </mat-list-item>
      <mat-list-item>Még 3 dolgot sem biztos, hogy meg tudsz 100%-osan csinálni,
        mert mondjuk nincs rá elég időd.
      </mat-list-item>
    </mat-list>
  </p>
  <div class="center">
    <img src="/assets/images/rule.png" alt="rule" width="600" height="500">
  </div>
</div>
