h1 {
    text-align: center;
  }

  .blog-category {
    display: flex;
    /* kozepre rendezze az elemeket display flex */
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .blog-category mat-card {
    flex: 1;
    min-width: 100px;
    min-height: 150px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: normal;
    cursor: pointer;
    border-radius: 60px;
    background: linear-gradient(168deg, #000 62%, #000 62%, #000 62%, transparent 63%);
  }
