<app-nav></app-nav>
<div class="container">
  <button mat-icon-button [routerLink]="[ '/home/blogpages/blogpage-selector' ]"> <!-- a routerlinket rarakjuk a rootra -->
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1>
    Spórolási tippek
  </h1>
  <p class="describe">
    Amikor azt éreztem, hogy nem tudok bánni a pénzzel,
    és fontos, hogy legyen megtakarításom, elhatároztam, hogy összegyűjtök spórolási tippeket.
    Ezek neked is segítségedre lehetnek.
  </p>
  <div class="center">
    <img src="/assets/images/penz.jpg" alt="penz" width="600" height="400">
  </div>
  <h2>Íme néhány tippem a spóroláshoz:</h2>
  <p class="describe-list">
    <mat-list>
      <mat-list-item>főzz magadnak, és a fagyasztott zöldségek és gyümölcsök is ugyanolyan jók</mat-list-item>
      <mat-list-item>próbáld kerülni az érzelmi kiadásokat (hacsak nem a "bármire pénzedből" kötlesz)</mat-list-item>
      <mat-list-item>várj 1-2 hetet, mielőtt megveszel valamit</mat-list-item>
      <mat-list-item>ne vedd meg, ha több is van belőle</mat-list-item>
      <mat-list-item>kerüld el a bevásárlóközpontokat, webshopokat</mat-list-item>
      <mat-list-item>használd, amid van</mat-list-item>
      <mat-list-item>írj bevásárló listát</mat-list-item>
      <mat-list-item>ne menj el éhesen vásárolni</mat-list-item>
      <mat-list-item>lehetőség szerint főzz magadnak</mat-list-item>
      <mat-list-item>vigyél magaddal otthonról kávét, teát</mat-list-item>
      <mat-list-item>akarom csak, vagy szükségem van rá</mat-list-item>
      <mat-list-item>ne hasonlítsd magad másokhoz</mat-list-item>
    </mat-list>
  </p>

  <h2>Százalékos felosztás</h2>
  <p class="describe">
    A következő rendszert használom jelenleg. Meghatározom, hogy mennyi az a minimum összeg, amiből havi szinten ki
    tudok jönni.
    Megnézem, hogy ez hány százaléka a teljes bevételemnek. Előre eldöntöm, hogy mely kategóriákra mennyi keretösszeget,
    hány százalékot szánok. (borítékolós módszerrel is működik)
  <p>
  <div class="center-elosztas">
    <img src="/assets/images/elosztas.jpeg" alt="elosztas" width="400" height="600">
  </div>
  <h3>Kategóriák</h3>
  <p class="describe">
    <mat-list>
      <mat-list-item>lakhatás, kaja (35%)</mat-list-item>
      <mat-list-item>hosszú távú megtakarítások (35%)</mat-list-item>
      <mat-list-item>váratlan események (10%)</mat-list-item>
      <mat-list-item>háztartás (10%)</mat-list-item>
      <mat-list-item>oktatás (5%)</mat-list-item>
      <mat-list-item>"bármire pénz" (5%)</mat-list-item>
    </mat-list>
  </p>
</div>
